{
  "eslintIntegration": true,
  "jsxSingleQuote": true,
  "printWidth": 140,
  "singleQuote": true,
  "stylelintIntegration": true,
  "tslintIntegration": true,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "trailingComma": "all",
  "useTabs": false
}
